certifi==2019.11.28
chardet==3.0.4
docutils==0.16
entrypoints==0.3
flake8==3.7.9
flit==2.2.0
flit-core==2.2.0
idna==2.8
intreehooks==1.0
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
pytest-runner==5.2
pytoml==0.1.21
requests==2.22.0
setuptools-scm==3.4.3
urllib3==1.25.8
